/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color :#362f2f;
    color:white ;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color:#130b0b;
    color:rgb(248, 157, 37);
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header h1 {
    font-size: 3rem;
    padding: 40px;
}

nav {
    position: relative;
}

.photo{
    text-align: center;
}

.photo p{
    justify-content: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}



.btn{
    display: inline-block;
    background-color:rgb(248, 157, 37);
    font-size: 20px;
    font-weight: 500;
    border: #fff;
    color: #fff;
    padding:7px;
    border-radius: 15px;
    position: relative;
    

    
    
}


.btn:hover{
    transform: scale(1.15);
}



.photo img{
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.education-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 20px;
    text-align: center;
    background-color: #130b0b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.education-item p {
    margin-bottom: 10px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color:#130b0b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.skill-item i {
    color:rgb(248, 157, 37);
    font-size: 1.5rem;
    margin-right: 10px;
}

.skill-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-text span {
    font-size: 1.2rem;
    font-weight: bold;
}

.skill-text small {
    font-size: 0.9rem;
    color: rgb(248, 157, 37);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color: #130b0b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-item i {
    color: rgb(248, 157, 37);
    font-size: 2rem;
    margin-right: 10px;
}

.project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-text ul {
    list-style-type: none;
    padding: 0;
}

.project-text ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}

.certifications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.certification-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color:#130b0b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.certification-item img {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-bottom: 10px;
}

.certification-text {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color:rgb(248, 157, 37) ;
}



/*.certifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.certification-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color:#130b0b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex-direction: column;
}

.certification-item img {
    width: 50px; /* Adjust size as needed 
    height: 45px; /* Adjust size as needed 
    margin-bottom: 10px;
}

.certification-text {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}*/

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: rgb(248, 157, 37);
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-around;
}

nav ul li a:hover {
    color: #130b0b;
}

.menu-icon {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h1{
    color: rgb(248, 157, 37);
}

h2{
    color: #130b0b;
    font-weight: 900;
    
}


/* Contact Icons */

#contact p i {
    margin-right: 10px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color: #130b0b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}

.contact-container p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.ph{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.ph:hover {
    color:rgb(248, 157, 37) ;
}

.contact-container a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.contact-container a:hover{
    color:rgb(248, 157, 37) ;
}

footer {
    background-color: rgb(248, 157, 37);
    color: black;
    

  }footer a{
    color: black;
    font-size: 25px; 
    font-weight: 600;
  }
  
  footer a:hover{
    color: white;
  }

  
  footer p {
    color: white;
    font-size: 35px;
    text-align: center;
  }

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color:white;
    }

    nav ul li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid #444;
    }

    nav ul li a {
        font-size: 1.5rem;
        
    }

    .menu-icon {
        display: block;
    }

    .btn{
        flex-wrap: wrap;
    }
}








